---
accounts:
    - email: 'user@example.com'
      password: 'changeme'
      server: 'imap.example.com'
      port: 993
      ssl: true 
    - email: 'user@example.com'
      password: 'changeme'
      server: 'imap.example.com'
      port: 993
      ssl: true 
    - email: 'user@example.com'
      password: 'changeme'
      server: 'imap.example.com'
      port: 993
      ssl: true 
