amqp:
    exchange: 'chansey'

service_name: 'plugin1'

plugins:
    - 'irc_default.rb'
    - 'mc_query.rb'

irc:
    command_key: '.'

mumble:
    ice_query_exec: '/home/user/murmur-ice-query/bin.py'
    ice:
        ip: '127.0.0.1'
        port: '6502'
    address: 'example.com'
    port: '64738'
